* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}
.header .logo {
    width: 300px;
    margin-bottom: 10px;
}

.mensaje {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.botones .btn, .btn-outline {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    background-color: #00a2d1;
    color: #fff;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #00a2d1;
    color: #00a2d1;
}

.formulario {
    display: none;
    margin-top: 20px;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.oculto {
    display: none;
}
/* Botones generales */
.botones .btn, .btn-outline, .formulario .btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
}

/* Botón principal */
.btn {
    background-color: #00a2d1;
    color: #fff;
}

/* Botón de borde */
.btn-outline {
    background-color: transparent;
    border: 2px solid #00a2d1;
    color: #00a2d1;
}